@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alunos & Professores</h1>
    <p class="lead">Veja logo abaixo sua listagem, ou cadastre-se como um novo aluno!</p>
    <p><a href="https://localhost:44301//Home/About" class="btn btn-primary btn-lg">Acesso rápido &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Página feita para professores:</h2>
        <h6>Muitas vezes professores necessitam buscar os alunos dos quais estão associados, ou até mesmo cadastrar-se para fazer parte do site. Clique abaixo!</h6>
            <a href="https://localhost:44301//Home/Contact" class="btn btn-primary btn-lg">Acesso rápido &raquo;</a>
    </div>
</div>